	
body{
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(241, 241, 241);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Montserrat', sans-serif;
}
img{
	max-width: 100%;
	height: auto;
}
.menu{
	padding: 0;
	margin-bottom: 40px;
}
.menu .navbar{
	margin-bottom: 0;
}
.menu .upper_menu{
	border: 0;
}
.menu .upper_menu .navbar-collapse{
	padding: 0;
	background-color: #fff;
	border: 1px solid rgb(207, 207, 207);
	border-top: none;
	text-align: center;
} 
.menu .navbar-nav>li>a{
	font-size: 16px;
	color: rgb(43, 43, 160);
	padding: 15px 20px;
	cursor: pointer;
}
.menu .navbar-nav {
	float: left;
}

.menu .navbar-nav>li{
	border-left: 1px solid rgb(207, 207, 207);
	float: none;
	display: inline-block;
}
.menu .navbar-nav>li.primero{
	border-left: none;
}
.dropdown-menu>li>a {
	text-align: left;
	color: rgb(43, 43, 160);
}

.container{
	background-color: #fff;
}
.container .wrapper{
	padding: 15px;
}
.deportista h4{
	margin-bottom: 20px;
}
.deportista form input{
	margin-bottom: 15px;
}
.deportista form select{
	margin-bottom: 15px;	
}
.pull-right {
	height: 40px;
}
.cerrar_sesion{
	background-color: rgb(197, 197, 197);
	color: black;
	display: inline-block;
	padding: 15px;
}
.deportista .btn.enviar{
	margin-top: 5px;
	margin-bottom: 20px;
	float: right;
	padding: 15px 20px;
}