<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
      
	<title>Manual de usuario</title>
	<link rel="stylesheet" href="../css/estiloManual.css" type="text/css" media="all">
 </head>
<body>

<div id="contenido">

<h1>Manual de usuario para Inscripciones</h1>
<h2>Índice</h2>
<ul>
  <li><a href="#1">Pruebas Individuales</a></li>
  <li><a href="#2">Pruebas de Relevo</a></li>
  <li><a href="#3">Registro Deportista</a></li>
  <li><a href="#4">Constancia Inscripción</a></li>
</ul>

  <h3><a class="titulo" id="1">Pruebas Individuales</a></h3>
  <p>En la sección de pruebas individuales usted podrá realizar la inscripción de sus deportistas a las pruebas individuales del torneo actual.</p>
  <p>Tambien podrá consultar las pruebas a las que está inscrito un deportista y eliminar las inscripciones que desee.</p>
  
  <h4>Registro de pruebas</h4>
  <p>En esta sección, usted encontrará la lista de sus deportistas. Si no encuentra uno de sus deportistas, lo puede registrar <a href="#3">(Ver seccion Registro deportista)</a>.</p>
  
 <img src="../imagenes/2-panel-inscripcion-individual.png"  alt="panel de inscripciones individuales" />
  
  <p>Al hacer clic en un deportista de la lista, a la derecha se desplegará una lista con las pruebas a las que el deportista seleccionado puede inscribirse.</p>
  <p>La notación que se utiliza en la lista de pruebas es la siguiente: [orden de la prueba] [Jornada de la prueba] [Nombre de la prueba] [Categoría de la prueba]  </p>
  
  <img src="../imagenes/3-listar-pruebas.png"  alt="listado de pruebas por deportista" />
  <p>De la lista de pruebas, usted podrá seleccionar una o más pruebas a las que desea inscribir al deportista seleccionado.</p>
  <p>Para seleccionar varias pruebas, usted debe mantener presionada la tecla <strong>Ctrl</strong> de su teclado, y posteriormente hacer clic en las pruebas que desea</p>
  
  <img src="../imagenes/4-seleccionar-pruebas.png" alt="seleccion de pruebas" />
  
  <p>Una vez seleccionadas las pruebas a las que desea inscribir al deportista seleccionado, haga clic en el botón <strong>Registrar</strong></p>
  <p>El sistema le mostrará un mensaje de confirmación por cada prueba seleccionada en el mismo orden en el que están las pruebas en la lista.</p>
  
  <img src="../imagenes/5-registrar-pruebas.png" alt="registro de pruebas individuales" />
  
  <p>Si ya había hecho la inscripción a la prueba, el sistema no hará la inscripción y mostrará un mensaje informando que no se realizó la inscripción.</p>
  <p>Esto no impedirá la inscripción del resto de pruebas seleccionadas</p>
  
  <img src="../imagenes/6-inscripcion-fallida.png"  alt="inscripcion individual fallida" />
  
  <h4>Consulta de pruebas inscritas</h4>
  <p>En esta sección, usted podrá consultar las pruebas a las que están inscritos sus deportistas.</p>
  <p>Para ir a esta sección, usted debe dar clic en la opción Inscripción Individual del menú, la cual le desplegará un sub menú, posteriormente de clic en <strong>Consultar Inscripción</strong></p>
  
  <img src="../imagenes/7-ir-consultar-inscripciones.png"  alt="ir a consulta inscripcion individual" />
  
  <p>En esta sección, inicialmente usted encontrará la lista de sus deportistas.</p>
  
  <img src="../imagenes/8-panel-consulta-inscripcion.png" alt="panel consulta inscripciones individuales" />
  
  <p>Al hacer clic en un deportista de la lista, a la derecha se desplegará una lista con las pruebas a las que el deportista seleccionado está inscrito.</p>
  
  <img src="../imagenes/9-listar-pruebas-inscritas.png"  alt="listar pruebas individuales inscritas" />
  
  <p>De la lista de pruebas, usted podrá seleccionar una o más pruebas de las que desea desinscribir al deportista inscrito</p>
  <p>Para seleccionar varias pruebas, usted debe mantener presionada la tecla <strong>Ctrl</strong> de su teclado, y posteriormente hacer clic en las pruebas que desea</p>
  
  <img src="../imagenes/10-seleccionar-pruebas-inscritas.png"  alt="seleccionar pruebas individuales inscritas" />
  
  <p>Una vez seleccionadas las pruebas a las que desea desinscribir al deportista seleccionado, haga clic en el botón <strong>Eliminar</strong></p>
  <p>El sistema le mostrará un mensaje de confirmación por cada prueba seleccionada en el mismo orden en el que están la pruebas en la lista.</p>
  
  <img src="../imagenes/11-borrar-inscripcion.png"  alt="borrar inscripcion individual" />
  
  
  <h3><a class="titulo" id="2">Pruebas de Relevo</a></h3>
  <p>En la sección de pruebas de relevo, usted podrá realizar la inscripción de su club a las pruebas de relevo del torneo actual.</p>
  <p>También podrá consultar las pruebas a las que está inscrito su club y eliminar las inscripciones que desee.</p>
  
  <h4>Registro de pruebas</h4>
  
  <p>En esta seccion, usted encontrará una lista con las pruebas de relevo a las que su club puede inscribirse.</p>
  <p>La notación que se utiliza en la lista de pruebas es la siguiente: [orden de la prueba] [Jornada de la prueba] [Nombre de la prueba] [Genero] [Categoría de la prueba]</p>
  
  <img src="../imagenes/13-panel-inscripcion-relevos.png" alt="panel inscripcion relevos" />
  
  <p>De la lista de pruebas, usted podrá seleccionar una o más pruebas a las que desea inscribir su club.</p>
  <p>Para seleccionar varias pruebas, usted debe mantener presionada la tecla <strong>Ctrl</strong> de su teclado, y posteriormente hacer clic en las pruebas que desea</p>
  
  <img src="../imagenes/14-seleccionar-pruebas-relevo.png"  alt="seleccion de pruebas de relevo" />
  
  <p>Una vez seleccionadas las pruebas a las que desea inscribir su club, haga clic en el botón <strong>Registrar</strong></p>
  <p>El sistema le mostrará un mensaje de confirmación por cada prueba seleccionada en el mismo orden en el que están la pruebas en la lista.</p>
  
  <img src="../imagenes/15-registrar-pruebas-relevo.png" alt="registro pruebas de relevo" />
  
  <p>Si ya había hecho la inscripción a la prueba, el sistema no hará la inscripción y mostrará un mensaje informando que no se realizó la inscripción.</p>
  <p>Esto no impedirá la inscripción del resto de pruebas seleccionadas.</p>
  
  <h4>Consulta de pruebas inscritas</h4>
  <p>En esta sección, usted podrá consultar las pruebas de relevo a las que está inscrito su club.</p>
  <p>Para ir a esta sección, usted debe dar clic la opción Inscripción Relevos del menú, la cual le desplegará un sub menú, posteriormente de clic en <strong>Consultar Inscripción</strong></p>
  
  <img src="../imagenes/16-ir-consultar-inscripciones-relevo.png"  alt="ir a consultar pruebas de relevo" />
  
  <p>En esta sección, inicialmente usted encontrará una lista con las pruebas de relevo a las que su club está inscrito.</p>
  
  <img src="../imagenes/17-panel-consulta-inscripcion-relevos.png" alt="panel consulta pruebas relevo inscritas" />
  
  <p>De la lista de pruebas, usted podrá una o más pruebas de las que desea desinscribir a su club.</p>
  <p>Para seleccionar varias pruebas, usted debe mantener presionada la tecla <strong>Ctrl</strong> de su teclado, y posteriormente hacer clic en las pruebas que desea.</p>
  
  <img src="../imagenes/18-seleccionar-pruebas-relevo-inscritas.png"  alt="seleccionar pruebas relevo inscritas" />
  
  <p>Una vez seleccionadas las pruebas a las que desea desinscribir su club, haga clic en el botón <strong>Eliminar</strong></p>
  <p>El sistema le mostrará un mensaje de confirmación por cada prueba seleccionada en el mismo orden en el que están la pruebas en la lista.</p>
  
  <img src="../imagenes/19-borrar-inscripcion-relevos.png"  alt="borrar inscripcion relevo" />
  
  
  <h3><a class="titulo" id="3">Inscripción Deportista</a></h3>
  <p>En la sección de Registro Deportista, usted podrá realizar la inscripción de un deportista a su club.</p>
  <p>Para ir a esta sección, usted debe dar clic la opción <strong>Registro Deportista</strong> del menú.</p>
  <p>Usted encontrará ocho campos que debe diligenciar. Los campos son: Nombres, Apellidos, Género, Fecha de Nacimiento, Tipo de Identificación, Nro de identificación, País y Ciudad. Los campos con asterisco (*) son obligatorios</p>

  <img src="../imagenes/20-panel-registro-deportista.png"  alt="panel registro deportista" />
  
  <p> En el campo Fecha Nacimiento el formato utilizado es el siguiente: mm/dd/yyy. Cuando da clic en este campo, se despliega un calendario del cual puede seleccionar una fecha.</p>
  
  <img src="../imagenes/21-diligenciar-registro-deportista.png" alt="diligenciando registro deportista" />
  
  <p>Una vez diligenciados los campos, haga clic en el botón <strong>Registrar.</strong></p>
  <p>El sistema le mostrará un mensaje de confirmación indicándole que el deportista fue registrado exitosamente.</p>
  
  <img src="../imagenes/22-registrar-deportista.png"  alt="registrar deportista" />
  
  <p>Si alguno de sus deportistas tiene el mismo Nro de identificación, el sistema no registrará el deportista y le mostrará un mensaje notificándolo.</p>
  
  <img src="../imagenes/23-registrar-deportista-fallida.png" alt="registro deportista fallido" />
  
  
  <h3><a class="titulo" id="4">Constancia Inscripción</a></h3>
  <p>En esta sección usted podrá consultar todas las incripciones tanto individuales como de relevo realizadas.</p>
  <p>Tambien podrá imprimir o descargar su constancia de inscripción.</p>
  <p>Para ir a esta sección, usted debe dar clic en la opción <strong>Constancia Inscripción</strong> del menú.</p>
  <p>En una nueva página se abrirá el reporte de inscripción de su club.</p>
  
  <img src="../imagenes/25-constancia-inscripcion.png"  alt="constancia inscripcion" />
  
  <p>Si desea imprimir el documento, Al final de la página, en el lado izquierdo, encontrará un enlace que dice <strong>Imprimir</strong>, de clic en él.</p>
  <p>Se abrirá una ventana (Diferente en cada navegador) en la cual podrá seleccionar las opciones de impresión.</p>
  
  <img src="../imagenes/26-imprimir-constancia-inscripcion.png" alt="imprimir constancia" />
  
  <p>Si está utilizando el navegador Google Chrome, adicional puede descargar un archivo PDF de su constancia.</p>
  
  <img src="../imagenes/27-guardar-constancia-inscripcion.png" alt="guardar contancia" />
  </div>
</body>
</html>